---
import { type Playlist } from "@/lib/data";
import { CardPlayButton } from "./CardPlayButton";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, title, cover } = playlist;
---

<article class="card relative group basis-1/4 min-w-96 flex-1 overflow-hidden rounded-md bg-zinc-700/40
  hover:bg-zinc-700/70 transition-all duration-300 ease-in-out z-10">
  <div
    class="absolute z-20 block right-4 -bottom-6 opacity-0 transition-all duration-300 ease-in-out group-hover:bottom-6 group-hover:opacity-100 pointer-events-auto"
  >
    <CardPlayButton client:visible id={id} />
  </div>
  <a
    class="h-full flex flex-row items-center gap-4"
    href={`/playlist/${id}`}
    transition:name={`playlist-${id}-card`}
  >
    <picture
      class="w-24 h-24 overflow-hidden"
      transition:name={`playlist-${id}-cover`}
    >
      <img
        class="w-full h-full object-cover aspect-square"
        src={cover}
        alt={`Imagen del album ${title}`}
      />
    </picture>
    <div class="content">
      <h3 class="text-xl font-bold" transition:name={`playlist-${id}-title`}>
        {title}
      </h3>
    </div>
  </a>
</article>
