---
import { type Playlist } from "@/lib/data"
import Layout from "@/layouts/Layout.astro"
import { allPlaylists, songs } from "@/lib/data"

const { id } = Astro.params

const playlist:Playlist | undefined = allPlaylists.find((playlist) => playlist.id === id)

if (!playlist) {
  return Astro.redirect('/')  
}

const { title, color, cover, artists } = playlist
const artistsString = artists.join(', ')

const songsPlaylist = songs.filter((song) => song.albumId === playlist.albumId)

---

<Layout>
  <article class="mt-16 mx-4 flex flex-row gap-2 transition-all duration-300 ease-in-out" transition:name={`playlist-${id}-card`}>
    <picture class="block w-60 h-60 overflow-hidden" transition:name={`playlist-${id}-cover`}>
      <img class="w-full h-full object-cover aspect-square" src={cover} alt={`Imagen del album ${title}`}>
    </picture>
    <div class="content flex flex-col justify-center">
      <h3 class="flex-1 flex items-end text-zinc-400">Playlist</h3>
      <h1 class="text-5xl font-bold" transition:name={`playlist-${id}-title`}>{title}</h1>
      <p class="flex-1 flex flex-col justify-end text-md text-zinc-400">
        {artistsString}
        <span>
          <strong class="w-fit">{songsPlaylist.length} canciones </strong>, 3h aproximadamente
        </span>
      </p>
    </div>
  </article>  
</Layout>