---
import { CardPlayButton } from "@/components/CardPlayButton";
import MusicTable from "@/components/MusicTable.astro";
import Layout from "@/layouts/Layout.astro";

import { allPlaylists, songs } from "@/lib/data";

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playListSongs = songs.filter((song) => song.albumId === playlist?.albumId)
const artistsString = playlist?.artists.join(', ')

---

<Layout title="Spotify clone">
  <!-- para que respete la transicion entonces transition:name con el mismo de la pagina anterior -->
  <div
    id="playlist-container"
    class="relative bg-green-900 flex flex-col h-full overflow-x-hidden p-4"
    transition:name=`playlist ${id} box`
  >
    <!-- PageHeader -->
    <header class="flex flex-row gap-4">
      <picture class="aspect-square block w-52 h-52">
        <img src={playlist?.cover} alt={`Cover of ${playlist?.title}`}
          class="object-cover w-full h-full rounded-md"
          transition:name=`playlist ${id} image`
        />
      </picture> 
      <div class="flex flex-auto flex-col truncate justify-center">
        <span class="text-white text-xs flex-1 flex items-end">
          Playlist
        </span>
        <h4 class="text-white text-sm font-bold" transition:name=`playlist ${id} title`>
          <span class="text-5xl text-white">{playlist?.title}</span>
        </h4>
        <div class="text-md text-gray-300 flex-1 flex flex-col justify-end gap-1">
          <span transition:name=`playlist ${id} artists`>{artistsString}</span>
          <p class="text-white">
            <span class="font-bold">{playListSongs.length} canciones</span>, 3h aproximadamente
          </p>
        </div>
      </div> 
    </header>
    
    <section class="pt-6">
      <CardPlayButton id={id} size="large" client:load/>
    </section>

    <!-- TableSongs -->
    <section class="pt-8">
      <MusicTable songs={playListSongs} />
    </section>

    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/70 -z-10"
    >
    </div>
  </div>
</Layout>

<style></style>
